<ion-view title="Busca">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="São Paulo, Brazil">
            </label>
        </form>
        <div class="button-bar">
            <a href="#/side-menu21/page13" class="button button-royal button-block ">Denunciar</a>
            <button class="button button-royal button-block ">Buscar</button>
        </div>
    </ion-content>
</ion-view>
