<ion-view title="Cadastro">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <button class="button button-royal button-block ">Cadastre-se com o Facebook</button>
            <div class="spacer" style="width: 300px; height: 40px;"></div>
            <div>
                <p>Ou preencha os campos:</p>
            </div>
            <ion-list>
                <label class="item item-input" name="nome">
                    <input type="text" placeholder="Nome">
                </label>
                <label class="item item-input" name="sobrenome">
                    <input type="text" placeholder="Sobrenome">
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="E-mail">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Senha">
                </label>
            </ion-list>
            <a href="#/denuncia" class="button button-royal button-block ">Sign up</a>
        </form>
    </ion-content>
</ion-view>
