<ion-view title="Não me Calo">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div id="naomecalo">
            <h1>Não se cale!</span></h1>
            <h4>Este espaço é uma plataforma colaborativa que mapeia agressões contra os Direitos Humanos</h4>
            <h5>Aqui você tem voz e lugar para valer seus direitos</h5>
            <img src="http://static.idolator.com/uploads/2016/02/beyonce-formation-super-bowl-compressed.jpg">
        </div>
        <div class="button-bar">
            <a href="#/cadastro" class="button button-royal button-block ">Cadastrar</a>
            <a href="#/login" class="button button-royal button-block ">Entrar</a>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>
