<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="E-mail">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Senha">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/denuncia" class="button button-royal button-block ">Log in</a>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/cadastro" class="button button-royal button-block button-small">Ou faça seu cadastro</a>
        </form>
    </ion-content>
</ion-view>
